.label{
    background-color: var(--primary-400);
    border-radius: var(--border-radius-lg);
}

.bg-compendium{
    background-color: var(--primary-300);
    border-radius: var(--border-radius-lg);
}

.compendium-padding{
    padding: 32px 64px;
}

.progress{
    background-color: var(--primary-400);
}

.bg-progress-bar{
    background-color: var(--primary-1000);
}

.bg-progress-bar-second{
    background-color: var(--primary-100);
}

.bg-img {
  max-height: auto;
  max-width: 385px;
  top: 45%; 
  left: 30%; 
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
  object-fit: contain;
}

